/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* STRUCTURE */

/* HEADER */
header {
  height: 70px;
  width: 100%;
  background-color: #ff6900;
  position: fixed;
  z-index: 10;
}

.container.header * {
  color: white;
}

.header {
  margin-top: 15px;
}

/* GENDER */
ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  margin-left: 10px;
}

/* LOGO */
.logo {
  height: 35px;
}

.logo img {
  max-height: 100%;
}

/* ITEMS */

i {
  font-size: 16px;
  margin-right: 5px;
}

/* MAIN */
main {
  padding-top: 80px;
}

.card {
  width: 350px;
  margin-top: 30px;
}

.card .image {
  height: 500px;
  width: 350px;
  background-size: contain;
}

.image * {
  display: inline-block;
  color: white;
}

.discount {
  background-color: red;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;

  left: 0px;
  bottom: 35px;
}

.sust {
  background-color: #008000;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;

  left: 47px;
  bottom: 35px;
}

.image div:last-child {
  height: 40px;
  width: 40px;
  font-size: 35px;
  text-align: center;
  color: black;
  background-color: white;

  right: 0px;
  top: 10px;
}

p {
  font-size: 0.75rem;
}

.price {
  font-size: 0.75rem;
  font-weight: bold;
  color: red;
}

.r-price {
  font-size: 0.75rem;
  text-decoration: line-through;
}

/* FIRST CARD */
.image {
  background-image: url(../img/1.webp);
}

/* DEBUG */

.debug {
  border: 2px solid black;
}
