/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* STRUCTURE */

/* HEADER */
header {
  height: 70px;
  width: 100%;
  background-color: #ff6900;
  position: fixed;
  z-index: 10;
}

.container.header * {
  color: white;
}

.header {
  margin-top: 15px;
}

/* GENDER */
ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  margin-left: 10px;
}

/* LOGO */
.logo {
  height: 35px;
}

.logo img {
  max-height: 100%;
}

/* ITEMS */

i {
  font-size: 16px;
  margin-right: 5px;
}

/* MAIN */
main {
  padding-top: 80px;
}

.card {
  width: 350px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.card .image {
  height: 500px;
  width: 350px;
  background-size: contain;
}

.image * {
  display: inline-block;
  color: white;
}

h2 {
  font-size: 17px;
}

.discount {
  background-color: red;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;
}

.sust {
  background-color: #008000;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 4px 8px;
}

.image div:last-child {
  height: 40px;
  width: 40px;
  font-size: 35px;
  text-align: center;
  color: black;
  background-color: white;

  right: 0px;
  top: 10px;
}

p {
  font-size: 0.75rem;
}

.price {
  font-size: 0.75rem;
  font-weight: bold;
  color: red;
}

.r-price {
  font-size: 0.75rem;
  text-decoration: line-through;
}

/* FIRST CARD */
.image.first {
  background-image: url(../img/1.webp);
}

.first .discount {
  left: 0px;
  bottom: 35px;
}

.first .sust {
  left: 47px;
  bottom: 35px;
}

/* SECOND CARD */
.image.second {
  background-image: url(../img/2.webp);
}

.second .discount {
  left: 0px;
  bottom: 35px;
}

/* THIRD CARD */
.image.third {
  background-image: url(../img/3.webp);
}

.third .discount {
  left: 0px;
  bottom: 35px;
}

/* FOURTH CARD */
.image.fourth {
  background-image: url(../img/4.webp);
}

.fourth .discount {
  left: 0px;
  bottom: 35px;
}

.fourth .sust {
  left: 47px;
  bottom: 35px;
}

/* FIFTH CARD */
.image.fifth {
  background-image: url(../img/5.webp);
}

/* SIXTH CARD */
.image.sixth {
  background-image: url(../img/6.webp);
}

.sixth .sust {
  left: 0px;
  bottom: 35px;
}

/* FOOTER */

footer {
  height: 120px;
  width: 100%;
  background-color: #1a1a1a;
}

footer * {
  color: white;
}

/* L-FOOT */

.l-foot {
  margin-top: 35px;
}

h3 {
  margin-bottom: 8px;
}

.l-foot > span {
  font-size: 0.9rem;
  margin-right: 10px;
}

/* R-FOOT */

.r-foot {
  margin-top: 35px;
}

h4 {
  margin-bottom: 5px;
}

.social > span > i {
  font-size: 24px;
}

/* HOVER */

.card .first:hover {
  background-image: url(../img/1b.webp);
}

.card .second:hover {
  background-image: url(../img/2b.webp);
}

.card .third:hover {
  background-image: url(../img/3b.webp);
}

.card .fourth:hover {
  background-image: url(../img/4b.webp);
}

.card .fifth:hover {
  background-image: url(../img/5b.webp);
}

.card .sixth:hover {
  background-image: url(../img/6b.webp);
}

/* DEBUG */

.debug {
  border: 2px solid black;
}
